
<div class="col col--12of12 big_bottom">

</div>

<div class="col col--8of12 col--push_2of12 col--extend_2of12 big_bottom">
	<h1 class="small_bottom">{{title}}</h1>
	<p>by <a href="#">Me</a> on... we'll find out</p>

	<p class="padded light_grey_back"><strong>Summary:</strong> Beer is an alcoholic beverage produced by the saccharification of starch and fermentation of the resulting sugar.</p>

	<p>Coming soon.</p>
</div>