
<div class="col col--12of12 big_bottom">

</div>

<div class="col col--8of12 col--push_2of12 col--extend_2of12 big_bottom">
	<h1 class="small_bottom">{{title}}</h1>
	<p>by <a href="#">Me</a> on {{date}}</p>

	<p class="padded light_grey_back"><strong>Summary:</strong> Beer is an alcoholic beverage produced by the saccharification of starch and fermentation of the resulting sugar.</p>

	<p>Beer is an alcoholic beverage produced by the saccharification of starch and fermentation of the resulting sugar. The starch and saccharification enzymes are often derived from malted cereal grains, most commonly malted barley and malted wheat.[1] Most beer is also flavoured with hops, which add bitterness and act as a natural preservative, though other flavourings such as herbs or fruit may occasionally be included. The preparation of beer is called brewing.</p>

	<p>Beer is the world's most widely consumed alcoholic beverage,[2] and is the third-most popular drink overall, after water and tea.[3] It is thought by some to be the oldest fermented beverage.[4][5][6][7]</p>

	<p>Some of humanity's earliest known writings refer to the production and distribution of beer: the Code of Hammurabi included laws regulating beer and beer parlours,[8] and "The Hymn to Ninkasi", a prayer to the Mesopotamian goddess of beer, served as both a prayer and as a method of remembering the recipe for beer in a culture with few literate people.[9][10] Today, the brewing industry is a global business, consisting of several dominant multinational companies and many thousands of smaller producers ranging from brewpubs to regional breweries.</p>
</div>