

$grey: #f2f2f2;
$light_grey: #fcfcfc;
$black: #1e1e1e;
$blue: #0066ff;
$green: #5c9b5d;
$yellow: #ed970f;


$base_size: 20px;
$line_height: 1.5;
$vertical_rythm: 1rem;

$number_of_columns: 12;
$gutter: 0;

$body_font: "Apercu", sans-serif;
$headings_font: "Apercu", sans-serif;

$breakpoints: "small" "40em", "medium" "64em";