

$grey: #f2f2f2;
$dark_grey: #2B2828;
$black: #1e1e1e;
$blue: #0066ff;
$green: #5c9b5d;
$yellow: #ed970f;
$red: #ed5565;


$base_size: 20px;
$line_height: 1.4;
$vertical_rythm: 1rem;

$number_of_columns: 12;
$gutter: 2rem;

$body_font: "Apercu", sans-serif;
$headings_font: "Apercu", sans-serif;
$emphasis_font: "Crimson Text", serif;

$breakpoints: "small" "40rem", "medium" "64rem";