
.white { color: white; }
.light_grey { color: $light_grey; }
.grey { color: $grey; }
.green { color: $green; }

.grey_back { background: $grey; }
.light_grey_back { background: $light_grey; }
.blue_back { background: $blue; }

.black_back { 
	@extend .light_grey;
	background: $black; 
}


.padded {
	padding: 2.3rem 2rem 2.6rem;
}


.flat_bottom { margin-bottom: 0; }
.small_bottom { margin-bottom: ($vertical_rythm/2); }
.big_bottom { margin-bottom: ($vertical_rythm*3); }
.bigass_bottom { margin-bottom: ($vertical_rythm*4); }

.big_top { margin-top: ($vertical_rythm*3); }

.text_left { text-align: left; }
.text_center { text-align: center; }
.text_right { text-align: right; }
.text_justify { text-align: justify; }
.text_underline { text-decoration: underline; }

.tight_line_height {
	display: inline-block;
	line-height: 1.2;
}