
@mixin transform($transform...) {
	-ms-transform: $transform;
	-webkit-transform: $transform;
	transform: $transform;
}

@mixin translate($x, $y, $z: 0) {
	@include transform(translate3d($x, $y, $z));
}

@mixin transition($transition...) {
	-ms-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}


.white { color: white; }
.black { color: $black; }
.dark_grey { color: $dark_grey; }
.light_grey { color: $light_grey; }
.grey { color: $grey; }
.green { color: $green; }
.blue { color: $blue; }
.red { color: $red; }
.yellow { color: $yellow; }

.light_grey_back { background: $light_grey; }
.grey_back { background: $grey; }
.blue_back { 
	color: $yellow;
	background: $blue; 
}

.black_back { 
	color: $light_grey;
	background: $black; 
}


.padded {
	padding: 2.3rem 2rem 2.6rem;
}

.relative {
	position: relative;
}

.centered {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;

	@include translate(-50%, -50%);
}


.flat_bottom { margin-bottom: 0; }
.small_bottom { margin-bottom: ($vertical_rythm/2); }
.big_bottom { margin-bottom: ($vertical_rythm*3); }
.bigass_bottom { margin-bottom: ($vertical_rythm*4); }


.text_left { text-align: left; }
.text_center { text-align: center; }
.text_right { text-align: right; }
.text_justify { text-align: justify; }
.text_underline { text-decoration: underline; }

.tight_line_height {
	display: inline-block;
	line-height: 1.2;
}

.invisible { visibility: hidden; }






