*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
	font: #{$base_size}/#{$line_height} $body_font;
	-webkit-font-smoothing: antialiased;
}

body {
	color: $dark_grey;
	background: white;
}


h1, h2, h3, h4, h5, h6 {
	font-family: $headings_font;
	font-weight: normal;
	letter-spacing: 0.1rem;

	margin: ($vertical_rythm*1.5) 0 $vertical_rythm;


	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	& + & {
		margin-top: 0;
	}
}


h1 {
	font-size: 2rem;
	line-height: 1;
}

h2 {
	font-size: 1.8rem;
	line-height: 1.3;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 1rem;
}

small {
	font-size: 0.8rem;
}


p, ul, ol, figure, blockquote, pre {
	margin: 0 0 $vertical_rythm;
}

	.figure--banner {
		margin: ($vertical_rythm*4) 0;
	}

ul, ol {
	padding-left: 1.429rem;

	&.no_style {
		list-style-type: none;
		padding-left: 0;
	}
}
	
	li {
		margin-bottom: $vertical_rythm/2;
	}


blockquote {
	color: $grey;
	font-size: 1.2rem;

	font-style: italic;
	text-align: center;

	cite {
		color: $dark_grey;
	}
}


a {
	outline: none !important;
	color: inherit;
	text-decoration: none;

	border-bottom: 1px dotted $black;

	.black_back & {
		border-bottom: 1px dotted $light_grey;
	}

	.blue_back & {
		border-bottom: 1px dotted $yellow;

		&:focus,
		&:hover {
			color: white;
			border-bottom: 1px solid white;
		}
	}

	&:focus,
	&:hover {
		color: $blue;
		border-bottom: 1px solid $blue;
	}

	&.a--big {
		font-size: 1.286rem;
	}
}

em {
}


hr {
	margin: ($vertical_rythm*1.2) 0;
	border: 0;
	border-top: 1px dotted $black;


	.grid > & {
		margin-left: $gutter; 
	}
}


pre,
code {
	font-size: 0.8rem;

	&[class*="language-"] {
		background: transparent;
		padding: 0;

		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2;
	}
}

