
button,
input[type="submit"],
.button {
	-webkit-appearance: none;
	display: inline-block;
	position: relative;

	padding: ($vertical_rythm/1.5) $vertical_rythm;
	margin-bottom: $vertical_rythm;

	background: transparent;
	border: 1px solid $black;
	box-shadow: 0 1px 0 $black;


	text-align: center;
	text-decoration: none;



	

	&:focus,
	&:hover {
		color: $blue;
		border: 1px solid $blue;
		box-shadow: 0 1px 0 $blue;
	}

	&:active {
		top: 1px;
		box-shadow: none;
	}


	&.button--big {
		padding: ($vertical_rythm*1.5) ($vertical_rythm*2.5);
	}

	&.button--full {
		width: 100%;
	}
}

